body {
    font-family: 'Open Sans', sans-serif;
}
.flex {
    display: flex;
}
.heroe {
    background-image: url("../img/bg.avif");
    background-size: cover;
    background-repeat: no-repeat;
    color: whitesmoke;
    height: 90vh;
    width: 100%;
}
.heroe-content {
    display: flex;
    align-items: flex-end;
    justify-content: flex;
    flex-direction: column;
    text-shadow: 2px 2px;
    margin-right: 10%;
    font-size: 200px;
}
header nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
header nav ul {
    display: flex;
    flex-direction: row;
    font-size: 80px;
    list-style: none;
    justify-content: space-around;
    width: 80%;
}
header nav ul li {
    margin-top: 2%;
}
header nav ul li a {
    text-decoration: none;
    color: black;
}
.heroe h3 {
    font-size: 100px;
}
.first {
    flex-direction: row-reverse;
}
.content-first .img {
    background-image: url("../img/space3.avif");
    background-size: contain;
    background-repeat: no-repeat;
    width: 50%;
}
.one {
    display: flex;
    justify-content: row;
}
.one .content {
    background-color: black;
    box-sizing: border-box;
    color: whitesmoke;
    padding: 10%;
    font-size: 150px;
    width: 50%;
}
.one .content h3 {
    font-size: 90px;
}
.one .img {
    background-image: url("../img/foto1.avif");
    background-size: contain;
    background-repeat: no-repeat;
    width: 50%;
}
.second {
    flex-direction: row-reverse;
    background-image: url("");
    background-size: cover;
    background-repeat: no-repeat;
}
.third {
    background-image: url("../img/photo-1497294815431-9365093b7331.avif");
    background-size: cover;
    background-repeat: no-repeat;
}